hoist=false
link-workspace-packages=deep

# Build
public-hoist-pattern[]='@esbuild-plugins/*'
public-hoist-pattern[]='esbuild'
public-hoist-pattern[]='glob'

# Lint
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='*prettier*'

# React
public-hoist-pattern[]='react'
public-hoist-pattern[]='react-dom'
public-hoist-pattern[]='@types/react'
public-hoist-pattern[]='@types/react-dom'
public-hoist-pattern[]='lit-html'