hoist=false
link-workspace-packages=deep

# Build
public-hoist-pattern[]='@esbuild-plugins/*'
public-hoist-pattern[]='esbuild'
public-hoist-pattern[]='glob'
public-hoist-pattern[]='tslib'

# Lint
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='*prettier*'

# React
public-hoist-pattern[]='react'
public-hoist-pattern[]='react-dom'
public-hoist-pattern[]='@types/react'
public-hoist-pattern[]='@types/react-dom'
public-hoist-pattern[]='lit-html'

# Smart Contracts
public-hoist-pattern[]='hardhat'
public-hoist-pattern[]='@ethersproject/*'

# Inconsistencies in versions sometimes (prefer syncpack but this is an escape hatch)
public-hoist-pattern[]='viem'
public-hoist-pattern[]='@viem/viem'
public-hoist-pattern[]='wagmi'
public-hoist-pattern[]='@wagmi/*'
public-hoist-pattern[]='@rainbow-me/*'